<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>home</title>
    <link href="/static/css/icono.min.css" rel="stylesheet">
    <link href="/static/css/docs.css" rel="stylesheet">
    <link href="/static/css/kesho.css" rel="stylesheet">
    <script src="/static/js/zepto.min.js"></script>
</head>
<body>
<header class="masthead">
    <div class="container">
        <a href="/" class="masthead-logo">
            <span class="mega-octicon octicon-package"></span>
            kesho
        </a>

        <nav class="masthead-nav">
            <a href="/"><i class="icono-home"></i> </a>
            <a href="/accounts/create">jiunge</a>
            <a href="/accounts/login">ingia</a>
        </nav>
    </div>
</header>