<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>home</title>
    <link href="/static/css/icono.min.css" rel="stylesheet">
    <link href="/static/css/normalize.css" rel="stylesheet">
    <link href="/static/css/skeleton.css" rel="stylesheet">
    <link href="/static/css/menu.css" rel="stylesheet">
    <link href="/static/css/home.css" rel="stylesheet">
    <script src="/static/js/zepto.min.js"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <header class="two columns">
            <h1 class="green">kesho</h1>
        </header>
        <section class="eight columns">
            <div class="site-menu">
                <div class="main-menu">
                    <a href="#" class="mobile-bars show u-pull-right"><i class="icono-bars"></i></a>
                    <ul class="main-nav hide">
                        <li><a href="/"><i class="icono-support"></i> kuhusu</a></li>
                        <li><a href="/accounts/create"><i class="icono-heart"></i> jiunge</a></li>
                        <li><a href="/accounts/login"><i class="icono-signIn"></i> ingia</a></li>
                        <li><a href="#"><i class="icono-iphone"></i> wasiliana nasi</a></li>
                    </ul>
                </div>
            </div>
        </section>
    </div>
</div>
