<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    {{ if .Title }}
    <title>{{ .Title }}</title>
    {{ else }}
    <title>kesho: Blogu yako</title>
    {{ end }}
    <link href="/static/css/icono.min.css" rel="stylesheet">
    <link href="/static/css/docs.css" rel="stylesheet">
    <link href="/static/css/editor.css" rel="stylesheet">
    <link href="/static/css/html5tooltips.css" rel="stylesheet">
    <link href="/static/css/html5tooltips.animation.css" rel="stylesheet">

    <script src="/static/js/zepto.min.js"></script>
    <script src="/static/js/marked.js"></script>
    <script src="/static/js/editor.js"></script>
    <script src="/static/js/html5tooltips.js"></script>
    <script src="/static/js/kesho_editor.js"></script>
    <style type="text/css">
        .editor-wrapper {
        max-width: 680px;
        padding: 10px;
        margin: 60px auto;
        }
        .send-btn{
        margin-bottom:4px;
        }
    </style>
</head>
<body>
<header class="masthead">
    <div class="container">
        <a href="/" class="masthead-logo">
            <span class="mega-octicon octicon-package"></span>
            kesho
        </a>

        <nav class="masthead-nav">
            <a href="/"><i class="icono-home"></i> </a>
            {{ if .loggedIn }}
            <a href="/accounts">akaunti</a>
            <a href="/auth/logout">toka</a>
            {{ else }}
            <a href="/accounts">akaunti</a>
            <a href="/auth/register?redir=/accounts">jiunge</a>
            <a href="/auth/login?redir=/accounts">ingia</a>
            {{ end }}
        </nav>
    </div>
</header>

<div class="container">
    <div class="colums docs-layout">
        <div class="three-fourths column">
            {{ if .flashSuccess }}
            <div class="flash flash-success"> {{ .flashSuccess }}</div>
            {{ end }}
            {{ if .flashError }}
            <div class="flash flash-error">{{ .flashError }}</div>
            {{ end }}
            <div class="editor-wrapper">
                <form method="POST" action="/post/create">
                    <div class="send-btn">
                        <button class="btn btn-primary btn-block" type="submit">TUMA</button>
                    </div>
                    <input class="title" type="text" name="Title" placeholder="Kichwa cha habari ..."/>
                    <textarea name="Body" id="editor" placeholder="Andika makala yako hapa."></textarea>
                </form>
            </div>
        </div>
        <div class="one-fourth column">
            <nav class="menu docs-menu">
                <div class="menu-item selected" href="/scaffolding/">
                    My posts
                </div>
                {{if .post }}
                <div class="menu-item">
                    <h4>{{ .post.Title }}</h4>
                    <a href="/post/update/{{.post.Slug }}"><i class="icono-document"></i> </a>
                </div>
                {{ end }}
            </nav>
        </div>
    </div>
</div>

</body>
</html>