<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    {{ if .Title }}
    <title>{{ .Title }}</title>
    {{ else }}
    <title>kesho: Blogu yako</title>
    {{ end }}
    <link href="/static/css/docs.css" rel="stylesheet">
    <link href="/static/css/kesho.css" rel="stylesheet">
    <script src="/static/js/zepto.min.js"></script>
</head>
<body>
<header class="masthead">
    <div class="container">
        <a href="/" class="masthead-logo">
            <span class="mega-octicon octicon-package"></span>
            kesho
        </a>

        <nav class="masthead-nav">
            <a href="/"><i class="icono-home"></i> </a>
            {{ if .loggedIn }}
            <a href="/accounts">akaunti</a>
            <a href="/auth/logout">akaunti</a>
            {{ else }}
            <a href="/accounts">akaunti</a>
            <a href="/auth/register?redir=/accounts">jiunge</a>
            <a href="/auth/login?redir=/accounts">ingia</a>
            {{ end }}
        </nav>
    </div>
</header>
