<div class="container">
    <div class="columns docs-layout">
        <div class="one-fourth column">
            <nav class="menu docs-menu">
                <div class="menu-item selected" href="/scaffolding/">
                    <form>
                        <div class="input-group">
                            <input type="text" placeholder="Tafuta...">
                            <span class="input-group-button">
                                <button class="btn btn-sm">
                                    <i class="icono-search"></i>
                                </button>
                            </span>
                        </div>
                    </form>
                </div>
            </nav>
        </div>